<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    {{> navbar }}
    <br><br>
     <div class="flex-container">
     {{#if hasProducts}}
      
     {{#each products as |product|}}

     <div >
     <div><h5> {{product.name}} </h5></div>
      <div><img src="{{product.imageUrl}}" alt=""></div>
     <div> <h6>Price: ${{product.price}} </h6></div>
     <div> <h6>Quantity: {{product.qty}} </h6></div>

     <form action="/delete-from-cart" id="myForm" method="post" class="d-grid gap-2 col-6 mx-auto">
     <input type="hidden" name="id" value={{product.id}}>
        <button class="btn btn-dark" type="submit">Delete From Cart</button>
     </form>
     <br>
     </div>
     {{/each}}
      </div>
      <div " class="d-grid gap-2 w-100 myBtn">
        <button class="btn btn-success"  style="font-size: large;"> 
        <a href="./show-total" style="text-decoration: none; color: rgb(255, 255, 255);">
            Proceed To Pay
            </a>
            </button>
              
    </div>
     {{else}}
     <h2>Cart is Empty</h2>
     {{/if}}
       


    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>